<div class="row">
    <div class="col-12">
        <table  class="table table-info table-striped table-bordered">
            <thead>
              <tr>
                
                <th rowspan="2">POSICION</th>
                <th rowspan="2">NOMBRE</th>
                <th rowspan="2">EQUIPO</th>
                <th colspan="4">ENTRENAMIENTO</th>
                <th colspan="5">EQUIPO</th>
                <th rowspan="2">ACUMULAOD</th>

              </tr>
              <tr>               
                <th>Preguntas realizadas</th>
                <th>Preguntas correctas</th>
                <th>% asertividad</th>
                <th>Puntuación</th>

                <th>Preguntas realizadas</th>
                <th>Preguntas correctas</th>
                <th>% asertividad</th>
                <th>Puntuación</th>
                <th>Tiempo Carrera</th>                
              </tr>
            </thead>
            <tbody id="tbGeneral">
              <tr>
                <td>1</td>
                <td>nein hife</td>
                <td>SKT1</td>
                <td>107</td>
                <td>100</td>
                <td>93.46</td>
                <td>100</td>
                <td>@32</td>
                <td>31</td>
                <td>96.88</td>
                <td>310</td>
                <td>354</td>
                <td>410</td>
              </tr>
           
              
            </tbody>
          </table>
    </div>
</div>